<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsxb.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsxb.po.Resource">
        <id column="res_id" property="resId" />
        <result column="res_parent" property="resParent" />
        <result column="res_name" property="resName" />
        <result column="res_URL" property="resUrl" />
    </resultMap>

</mapper>
