<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsxb.mapper.SaleItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsxb.po.SaleItem">
        <id column="sale_item_id" property="saleItemId" />
        <result column="ticket_id" property="ticketId" />
        <result column="sale_id" property="saleId" />
        <result column="sale_item_price" property="saleItemPrice" />
    </resultMap>

</mapper>
