<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsxb.mapper.StudioMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsxb.entity.Studio">
        <id column="studio_id" property="studioId" />
        <result column="studio_name" property="studioName" />
        <result column="studio_row_count" property="studioRowCount" />
        <result column="studio_col_count" property="studioColCount" />
        <result column="studio_introduction" property="studioIntroduction" />
        <result column="studio_status" property="studioStatus" />
    </resultMap>

</mapper>
