<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsxb.mapper.TicketMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zsxb.po.Ticket">
        <id column="ticket_id" property="ticketId" />
        <result column="seat_id" property="seatId" />
        <result column="sched_id" property="schedId" />
        <result column="ticket_price" property="ticketPrice" />
        <result column="ticket_status" property="ticketStatus" />
        <result column="ticket_locktime" property="ticketLocktime" />
    </resultMap>

</mapper>
