<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsxb.mapper.TicketMapper">


    <select id="selectVOByPage" resultType="com.zsxb.vo.TicketVO">
        SELECT
            t.ticket_id,
            se.seat_row,
            se.seat_column,
            st.studio_name,
            p.play_name,
            sc.sched_time,
            t.ticket_price,
            COUNT(*) AS count
        FROM
            ticket t
            LEFT JOIN seat se ON t.seat_id = se.seat_id
            LEFT JOIN schedule sc ON t.sched_id = sc.sched_id
            LEFT JOIN play p ON sc.play_id = p.play_id
            LEFT JOIN studio st ON sc.studio_id = st.studio_id
            LEFT JOIN sale sa ON sa.ticket_id = t.ticket_id
        WHERE
            t.ticket_status = 9
          AND t.ticket_id IN (
            SELECT DISTINCT ticket_id
            FROM sale
            WHERE cus_id = #{cusId}
          AND sale_type = 1
            )
        GROUP BY
            t.ticket_id,
            se.seat_row,
            se.seat_column,
            st.studio_name,
            p.play_name,
            sc.sched_time,
            t.ticket_price
        HAVING MOD(COUNT(t.ticket_id), 2) = 1
            LIMIT #{current}, #{size}
    </select>
    <select id="selectVOByTicketId" resultType="com.zsxb.vo.TicketVO">
        select
            t.ticket_id,
            se.seat_row,
            se.seat_column,
            st.studio_name,
            p.play_name,
            sa.sale_time,
            sc.sched_time,
            t.ticket_price
        from
            ticket t
            left join seat se on t.seat_id=se.seat_id
            left join schedule sc on t.sched_id=sc.sched_id
            left join play p on sc.play_id=p.play_id
            left join studio st on sc.studio_id=st.studio_id
        where
            t.ticket_id=#{ticketId}
    </select>
</mapper>
